{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>
        <a href="{:url('index')}" class="layui-btn">刷新数据</a>
        <!--<button type="button" class="layui-btn layui-btn-danger" id="delAll">批量删除</button>-->
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<script type="text/html" id="number">
    <div class="layui-progress layui-progress-big" lay-showPercent="true" style="margin-top: 5px" lay-filter="demo">
        <div class="layui-progress-bar layui-bg-blue" lay-percent="{{d.old_num}} / {{d.number}}"></div>
    </div>
</script>
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="confirm">确认还款</a>
    {{# if(d.old_num+1 == d.number){ }}
    <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="settle">确认结清</a>
    {{# } }}
</script>
{include file="common/footer"/}
<script>
    layui.use(['table','element'], function() {
        var table = layui.table, $ = layui.jquery;
        var element = layui.element;
        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'loa_uid', title: 'id', width: 50, fixed: true},
                {field: 'username', title: '姓名', width: 100},
                {field: 'number', title: '总期数', width: 80},
                {field: 'mobile', title: '手机号', width: 125},
                {field: 'money', title: '每期金额', width: 95},
                {field: 'plate', title: '车牌号', width: 120},
                {field: 'old_num', title: '已还款期数', width: 100, edit: 'text' ,style:'color: #1aa094;'},
                {field: 'start_t', title: '开始还款日', width: 160},
                {field: 'last_t', title: '上次还款日', width: 160},
                {field: 'next_t', title: '下次还款日 (点击修改)', width: 180, edit: 'text' ,style:'color: #1aa094;'},
                {field: 'num', title: '进度',style:'background-color: #eee;', width: 240, toolbar: '#number'},
                {width: 200, align: 'center', toolbar: '#action'}
            ]],
            limit: 10, //每页默认显示的数量
            done: function(obj){
                element.init();
            }
        });

        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('关键字！',{icon:0});
                return;
            }
            tableIn.reload({
                where: {key: key}
            });
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
           if (obj.event === 'settle') {
                layer.confirm('您确定该用户已结清？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('settle')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if (obj.event === 'confirm') {
                layer.confirm(
                    '姓名: '+data.username+
                    '<br>期数: '+data.old_num+'/'+data.number+' 期'+
                    '<br>还款金额: '+data.money+
                    '<br>您确认已还款？'
                    , function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('confirm')}",{id:data.loa_uid},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.open({
                                type: 2,
                                title: '提交还款凭证',
                                content: "{:url('remark')}?id="+data.id,
                                area: ['850px', '600px'],
                                maxmin: true
                            });
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

        //监听单元格编辑
        table.on('edit(list)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.post("{:url('editField')}",{id:data.id,field:field,value:value},function (res) {
                if(res.code === 1){
                    layer.msg('[用户: '+ data.username +'] ' + field + ' 更改为：'+ value,{time:1000,icon:1});
                }else {
                    layer.msg('修改失败！',{time:1000,icon:2});
                }
            });
        });


        $('#delAll').click(function(){
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('user'); //test即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('deleteAll')}", {ids: ids}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {  12
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })
    });
</script>
</body>
</html>