{include file="common/head"/}
<form class="layui-form" action="" id="phone_send" style="margin-top: 15px;margin-right: 15px">
    <div class="layui-form-item">
        <label class="layui-form-label">选择时间</label>
        <div class="layui-input-block">
            <input type="text" name="send_time" required  lay-verify="required" class="layui-input" id="send_time">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea  name="remark" required  lay-verify="required" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$id}">
            <input type="hidden" name="name" value="电话催收">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
            <a href="{:url('getCar')}" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</form>
{include file="common/footer"/}
<script>
    layui.use(['form','layer','laydate'], function () {
        var form = layui.form, layer = layui.layer, laydate = layui.laydate, $ = layui.jquery;
        laydate.render({
            elem: '#send_time' //指定元素
        });
        form.on('submit(submit)', function (data) {
            var fields = $(data.form).serialize();//转换表单数组
            var loading = layer.msg('稍等片刻...', {
                icon: 16
                ,shade: 0.01
                ,time: 10000
            });
            $.post('{:url("loan/getRemark")}',fields, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2}, function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    });
                }
            });
        });
    })
</script>