{include file="common/head"/}
<link rel="stylesheet" href="__STATIC__/layui/css/modules/layer/default/layer.css" media="all">
<style>
    .cateImage dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }
    .cateImage .operate {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1
    }
    .cateImage .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        position: absolute;
        top:0;
        right:0;
        opacity: .8
    }
</style>
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="post" >
        <div class="layui-form-item">

            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-4">
                <input type="text" name="plate" lay-verify="required" placeholder="车牌号" class="layui-input" value="{$data.plate}">
            </div>
            <div class="layui-form-mid red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-4">
                <input type="text" name="pingpai" placeholder="品牌" lay-verify="required" class="layui-input" value="{$data.pingpai}">
            </div>
            <div class="layui-form-mid red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">型号</label>
            <div class="layui-input-4">
                <input type="text" name="xinghao" placeholder="型号" lay-verify="required" class="layui-input" value="{$data.xinghao}">
            </div>
            <div class="layui-form-mid red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IME</label>
            <div class="layui-input-2" id="ime">
                {volist name="data.ime" id="vo"}
                <input type="text" name="ime[]" placeholder="IME" lay-verify="required" class="layui-input" value="{$vo}">
                {/volist}
            </div>
            <i class="layui-icon layui-form-mid layui-icon-add-circle-fine" id="addIME" style="font-size: 30px; color: #1E9FFF;font-weight:bold">&#xe608;</i>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车架号</label>
            <div class="layui-input-4">
                <input type="text" name="chejia" placeholder="车架号" lay-verify="required" class="layui-input" value="{$data.chejia}">
            </div>
            <div class="layui-form-mid red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登记证</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn1"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage1">
                        {foreach name="data['dengji']" item='vo' key="k"}
                            {notempty name="vo"}
                                <dd class="item_img" id="shenqingbiao_{$k}">
                                    <div class="operate">
                                        <i onclick=UPLOAD_IMG_DEL("shenqingbiao_{$k}") class="close layui-icon"></i></div>
                                    <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                                    <input type="hidden" name="dengji[]" value="{$vo}">
                                </dd>
                            {/notempty}
                        {/foreach}
                        <p id="demoText1"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">行驶证</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn2"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage2">
                        {foreach name="data['xingshi']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="xingshi{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("xingshi{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="xingshi[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText2"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交强险保单</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn3"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage3">
                        {foreach name="data['jiaoqiangxian']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="jiaoqiangxian{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("jiaoqiangxian{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="jiaoqiangxian[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText3"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商业险保单</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn4"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage4">
                        {foreach name="data['shangyexian']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="shangyexian{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("shangyexian{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="shangyexian[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText4"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">完税证明</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn5"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage5">
                        {foreach name="data['wanshui']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="wanshui{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("wanshui{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="wanshui[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText5"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机动车发票</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn6"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage6">
                        {foreach name="data['jidongche']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="jidongche{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("jidongche{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="jidongche[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText6"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">保险发票</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn7"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage7">
                        {foreach name="data['baoxian']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="baoxian{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("baoxian{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="baoxian[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText7"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车辆图片</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn8"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list cateImage" id="cateImage8">
                        {foreach name="data['chelia']" item='vo' key="k"}
                        {notempty name="vo"}
                        <dd class="item_img" id="chelia{$k}">
                            <div class="operate">
                                <i onclick=UPLOAD_IMG_DEL("chelia{$k}") class="close layui-icon"></i></div>
                            <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                            <input type="hidden" name="chelia[]" value="{$vo}">
                        </dd>
                        {/notempty}
                        {/foreach}
                        <p id="demoText8"></p>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux red">*可多选</div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$data.id}">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                <a href="{:url('getCars')}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>
</div>
{include file="common/footer"/}
<script src="__JS__/jquery.2.1.1.min.js" ></script>
<script src="__STATIC__/layui/lay/modules/layer.js"></script>
<script>

    layui.use(['form','upload','layer'], function () {
        var form = layui.form,upload = layui.upload,layer = layui.layer,$ = layui.jquery;

        var uploadInst1 = upload.render({
            elem: '#cateBtn1',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage1').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='dengji[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText1');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst1.upload();
                    });

                }
            }
        });

        var uploadInst2 = upload.render({
            elem: '#cateBtn2',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage2').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='xingshi[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText2');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst2.upload();
                    });

                }
            }
        });

        var uploadInst3 = upload.render({
            elem: '#cateBtn3',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage3').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='jiaoqiangxian[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText3');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst3.upload();
                    });

                }
            }
        });

        var uploadInst4 = upload.render({
            elem: '#cateBtn4',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage4').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='shangyexian[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText4');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst4.upload();
                    });

                }
            }
        });

        var uploadInst5 = upload.render({
            elem: '#cateBtn5',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage5').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='wanshui[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText5');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst5.upload();
                    });

                }
            }
        });

        var uploadInst6 = upload.render({
            elem: '#cateBtn6',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage6').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='jidongche[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText6');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst6.upload();
                    });

                }
            }
        });

        var uploadInst7 = upload.render({
            elem: '#cateBtn7',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage7').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='baoxian[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText7');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst7.upload();
                    });

                }
            }
        });

        var uploadInst8 = upload.render({
            elem: '#cateBtn8',
            multiple: true,
            size : '2048',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#cateImage8').append(
                        '<dd class="item_img" id=' + res.imgid + '>'+
                        '<div class="operate">'+
                        '<i onclick=UPLOAD_IMG_DEL("' + res.imgid + '") class="close layui-icon"></i></div>'+
                        "<img style='width:250px;height: 180px;'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' >" +
                        "<input type='hidden' name='chelia[]' value='__PUBLIC__"+res.url+"' /></dd>");
                }else{
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText8');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst8.upload();
                    });

                }
            }
        });

        form.on('submit(submit)', function (data) {
            var fields = $(data.form).serialize();//转换表单数组
            var loading = layer.msg('正在生成PDF和保存数据...', {
                icon: 16
                ,shade: 0.01
                ,time: 5000
            });
            $.post('{:url("User/editCar")}',fields, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        form.on('select(moduleid)', function(data){
            showtemplist(data.value,0,form);
        });

        $('.cateImage').click(function(){
            layer.photos({
                photos: '.cateImage'
                ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });

    });

    $('#addIME').click(function () {
        $('#ime').append('<input type="text" name="ime[]" placeholder="IME" lay-verify="required" class="layui-input" value="">');
    });

    /*
     删除上传图片
     */
    function UPLOAD_IMG_DEL(divs) {
        $img_url = $("#"+divs).find('input').val();
        $.ajax({
            url : '{:url("User/delfile")}',
            type : "post",
            data : {'img':$img_url},
            dataType : "json",
            success : function(data){
                $("#"+divs).remove();
            }
        })
    }

    function showtemplist(m,t,form){
        var type='_list';
        if(t){
            type='_index';
        }
        var mtlist = modulearr[m]+type;
        var mtshow = modulearr[m]+'_show';

        if(modulearr[m]=='page'){
            mtlist=mtshow ='page';
        }
        $('#template_list').html(datas);
        $('#template_show').html(datas);

        listdatas = showdatas ='';
        for(i=1;i<templatearr.length;i++){
            data = templatearr[i].split(',');
            if(data[0].indexOf(mtlist)  >= 0){
                listdatas  ="<option value='"+data[0]+"'>"+data[1]+"</option>";
                $('#template_list').append(listdatas);
            }
            if(data[0].indexOf(mtshow)  >= 0){
                showdatas ="<option value='"+data[0]+"'>"+data[1]+"</option>";
                $('#template_show').append(showdatas);
            }
        }
        if(form){
            form.render()
        }
    }



</script>