{include file="common/head"/}
<link rel="stylesheet" href="__STATIC__/layui/css/modules/layer/default/layer.css" media="all">
<style>
    #cateImage dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }
    #cateImage .operate {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1
    }
    #cateImage .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        position: absolute;
        top:0;
        right:0;
        opacity: .8
    }
</style>
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-4">
                <input type="text" name="username" disabled class="layui-input" value="{$data['username']}">
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-4">
                <input type="text" name="identity" disabled class="layui-input" value="{$data['identity']}">
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-4">
                <input type="text" name="mobile" disabled class="layui-input" value="{$data['mobile']}">
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-4">
                <input type="text" name="card" disabled class="layui-input" value="{$data['card']}">
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage2">
                        {notempty name="images['yinghangka_1']"}
                        <dd class="item_img_1" id="2">
                            <img style="width:250px;height: 180px;" layer-src="{$images['yinghangka_1']}" src="{$images['yinghangka_1']}">
                            <input type="hidden" name="yinghangka_1" value="{$images['yinghangka_1']}">
                        </dd>
                        {/notempty}
                        {notempty name="images['yinghangka_2']"}
                        <dd class="item_img_2" id="3">
                            <img style="width:250px;height: 180px;" layer-src="{$images['yinghangka_2']}" src="{$images['yinghangka_2']}">
                            <input type="hidden" name="yinghangka_2" value="{$images['yinghangka_2']}">
                        </dd>
                        {/notempty}
                        <p id="demoText2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-4">
                {php}
                if($data['sex'] == 1){
                   echo '<input type="text" name="sex" class="layui-input" disabled value="男" title="男">';
                }else{
                   echo '<input type="text" name="sex" class="layui-input" disabled value="女" title="男">';
                }
                {/php}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">贷款期数</label>
                <div class="layui-input-inline">
                        {volist name="periods" id="vo"}
                            {if condition="($vo.id eq $data.pid) "}
                    <input type="text" name="ime" disabled class="layui-input" value="{$vo.number}期">
                            {/if}
                        {/volist}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-4">
                {volist name="plate" id="vo"}
                    {if condition="($vo.id eq $data.car_id) "}
                          <input type="text" name="plate" disabled class="layui-input" value="{$vo['plate']}">
                    {/if}
                {/volist}
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">贷款利率</label>
                <div class="layui-input-inline">
                    <select name="interest" lay-verify="required" lay-search="">
                        {volist name="interest" id="vo"}
                            {if condition="($vo.id eq $data.int_id) "}
                                <option disabled value="{$vo.id}" selected>{$vo.interest}</option>
                            {/if}
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">贷款金额</label>
            <div class="layui-input-4">
                <input type="text" name="total" disabled class="layui-input" value="{$data['total']}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进件日</label>
                <div class="layui-input-inline">
                    <input type="text" name="total" disabled class="layui-input" value="{$data['entry_at']}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证件照</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage">
                        {notempty name="images['shenfenzheng_2']"}
                        <dd class="item_img" id="1">
                            <img style="width:250px;height: 180px;" layer-src="{$images['shenfenzheng_1']}" src="{$images['shenfenzheng_1']}">
                            <input type="hidden" name="shenfenzheng_1" value="{$images['shenfenzheng_1']}">
                        </dd>
                        {/notempty}
                        {notempty name="images['shenfenzheng_2']"}
                        <dd class="item_img" id="4">
                            <img style="width:250px;height: 180px;" layer-src="{$images['shenfenzheng_2']}" src="{$images['shenfenzheng_2']}">
                            <input type="hidden" name="shenfenzheng_2" value="{$images['shenfenzheng_2']}">
                        </dd>
                        {/notempty}
                        <p id="demoText"></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流水</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage3">
                        {foreach name="images['liushui']" item='vo' key="k"}
                            {notempty name="vo"}
                                <dd class="item_img" id="liushui_{$k}">
                                    <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                                    <input type="hidden" name="liushui[]" value="{$vo}">
                                </dd>
                            {/notempty}
                        {/foreach}
                        <p id="demoText3"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">征信</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage4">
                        {foreach name="images['zhengxing']" item='vo' key="k"}
                            {notempty name="vo"}
                                <dd class="item_img" id="zhengxing_{$k}">
                                    <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                                    <input type="hidden" name="zhengxing[]" value="{$vo}">
                                </dd>
                            {/notempty}
                        {/foreach}
                        <p id="demoText4"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请表</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage5">
                        {foreach name="images['shenqingbiao']" item='vo' key="k"}
                            {notempty name="vo"}
                                <dd class="item_img" id="shenqingbiao_{$k}">
                                    <img style="width:250px;height: 180px;" layer-src="{$vo}" src="{$vo}">
                                    <input type="hidden" name="shenqingbiao[]" value="{$vo}">
                                </dd>
                            {/notempty}
                        {/foreach}
                        <p id="demoText5"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">驾驶证照</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list cateImage" id="cateImage6">
                        {notempty name="images['jiashizheng']"}
                        <dd class="item_img" id="8">
                            <img style="width:250px;height: 180px;" layer-src="{$images['jiashizheng']}" src="{$images['jiashizheng']}">
                            <input type="hidden" name="jiashizheng" value="{$images['jiashizheng']}"></dd>
                        {/notempty}
                        <p id="demoText6"></p>
                    </div>
                </div>
            </div>
        </div>
        {notempty name="remark"}
        <div class="layui-form-item">
            <label class="layui-form-label">审核说明</label>
            <div class="layui-input-4">
                <textarea type="text" disabled class="layui-textarea">{$remark}</textarea>
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
        {/notempty}

        {php}
        if(session('type') == '8'|| session('type') == 2){
        {/php}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" value="{$data['id']}" id="loa_id">
                {if condition="$data['status'] eq 1"}
                   <a href="{:url('updateStatue')}?id={$data['id']}&status=2" class="layui-btn" >通过</a>
                {elseif condition="$data['status'] eq 5"}
                   <a href="{:url('updateStatue')}?id={$data['id']}&status=6" class="layui-btn" >通过</a>
                {/if}
                <a class="layui-btn layui-btn-danger" lay-submit="" lay-filter="status">拒绝</a>
            </div>
        </div>
        {php}}{/php}
    </form>
</div>
{include file="common/footer"/}
<script src="__JS__/jquery.2.1.1.min.js"></script>
<script src="__STATIC__/layui/lay/modules/layer.js"></script>
<script>
    layui.use(['form','upload','layer','laydate'], function () {
        var form = layui.form,upload = layui.upload,layer = layui.layer,laydate = layui.laydate;
        //普通图片上传
        laydate.render({
            elem: '#test1'
        });
        var uploadInst = upload.render({
            elem: '#cateBtn',
            multiple: true,
            size : '1024',
            url: '{:url("User/upload")}',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code>0){
                    $('#image').val(res.url);
                    $('#cateImage').append("<img class='layui-upload-img'  layer-src='__PUBLIC__"+res.url+"' src='__PUBLIC__"+res.url+"' ><input type='hidden' name='pdf_imgs[]' value='__PUBLIC__"+ res.url +"' />");
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            },
            error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        form.on('submit(submit)', function (data) {
            var fields = $(data.form).serialize();//转换表单数组
            $.post('{:url("User/edit")}',fields, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        $('.cateImage').click(function(){
            layer.photos({
                photos: '.cateImage'
                ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });

        //添加拒绝理由
        form.on('submit(status)', function(data){
            layer.prompt({
                formType: 2
                ,title: '请添加拒绝理由'
                ,value: ''
            }, function(value,index){
                var id = $('#loa_id').val();
                $.post("{:url('updateStatue')}",{id:id,remark:value,status:3},function (data) {
                    layer.close(index);
                    location.href = 'user/examine';
                });
            });
        });

    });

</script>